*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: white;
}

body {
  margin: 0;
  background: linear-gradient(to right, #dbf9fc, tomato);
}

.result-equation {
  background-color: black;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 5px;
}
button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px black;
  /* Lowering the shadow */
}

.span-two {
  grid-column-start: 1;
  grid-column-end: 4;
}
